body{
    background-color:rgb(173, 193, 231)
}

h1{
    color: white;
    -webkit-text-stroke: 1.5px black;
    stroke: 2px black;
    font-size: 28px;

}
#add-todo{
    font-weight: bold;
    color:navy;
    background-color:whitesmoke;
}
.input-todo{
    color:rgb(145, 27, 27);
}
h2{
    background-color: black;
    color: white;
}

.title{
    padding-left:0.5em;
}
#complete-list{
    text-decoration-line: line-through;
}